<nz-button-group>
  <button nz-button nzType="primary" (click)="openPage('pagetwo')"><i nz-icon type="left"></i>pageTwo</button>
  <button nz-button nzType="primary" (click)="openPage('pagethree')">pageThree<i nz-icon type="right"></i></button>
</nz-button-group>

<p>I LOVE YOU</p>


<header></header>
<nav></nav>
<article>
  <section></section>
  <aside></aside>
</article>
<footer></footer>

<ul>
  <li class="item">
    <div>头部</div>
    <div>header</div>
  </li>
  <li class="item">
    <div>脚部</div>
    <div>footer</div>
  </li>
  <li class="item">
    <div>内容</div>
    <div>content/container</div>
  </li>
  <li class="item">
    <div>栏目</div>
    <div>column</div>
  </li>
  <li class="item">
    <div>侧栏</div>
    <div>sidebar</div>
  </li>
  <li class="item">
    <div>整体布局</div>
    <div>wrapper</div>
  </li>
  <li class="item">
    <div>热点</div>
    <div>hot</div>
  </li>
  <li class="item">
    <div>新闻</div>
    <div>news</div>
  </li>
  <li class="item">
    <div>自导航</div>
    <div>subnav</div>
  </li>
  <li class="item">
    <div>友情链接</div>
    <div>friendlink</div>
  </li>
  <li class="item">
    <div>菜单</div>
    <div>menu</div>
  </li>
  <li class="item">
    <div>指南</div>
    <div>guild</div>
  </li>
  <li class="item">
    <div>投票</div>
    <div>vote</div>
  </li>
  <li class="item">
    <div>合作伙伴</div>
    <div>partner</div>
  </li>
</ul>

<pre>
ng new app --inlineTemplate --routing=true
ng g c base --spec false --inline-template true --m app

主要的 master.css；

模块 module.css；

基本共用 base.css；

布局，版面layout.css；

主题 themes.css；

专栏 columns.css；

文字 font.css；

表单 forms.css；

补丁 mend.css；

打印print.css

<!-- <div>npm i -D electron@latest</div>
<div>add main.js</div>
<div>package.json   add   "main":"main.js"</div>
<div>
  "scripts": {
    "electron": "ng build --base-href ./ && electron .",
  }
</div>

<div>npm run electron</div> -->

"packager": "electron-packager ./app HelloWorld --all --out ./OutApp --version 3.0.6 --overwrite
--icon=./app/img/icon/icon.ico"
</pre>